/* Reset básico para consistencia cross-browser */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Fuente base */
html {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 700;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos base para body */
body {
  line-height: 1.5;
  background: linear-gradient(to bottom, #f2f2f2, #2e8ed2);
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* altura mínima: toda la ventana */
  margin: 0;
}

/* Ancho de la scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track: fondo de la barra */
::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;
}

/* Thumb: la parte que se mueve */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3a3a3a, #5a5a5a);
  border-radius: 10px;
  border: 2px solid #1e1e1e; /* Borde para separar del track */
}

/* Hover sobre el thumb */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #555, #777);
}

/* Botones (si el navegador los muestra) */
::-webkit-scrollbar-button {
  background: #2a2a2a;
  height: 6px;
}

/* Esquina donde se cruzan las scrollbars (por ejemplo, en cajas) */
::-webkit-scrollbar-corner {
  background: #1e1e1e;
}

/* Header y navbar */
header {
  background-color: #222;
  padding: 1rem 3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #1e90ff;
  font-weight: 700;
  font-size: 1.75rem;
  cursor: default;
  -webkit-text-stroke: 0.5px white;
  font-weight: bold;
  background-image: linear-gradient(var(--angle), rgb(228, 228, 233), rgb(65, 59, 185));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 4s linear alternate infinite;
  letter-spacing: 1rem;
  word-spacing: 2rem;
  
}

@keyframes move {
  0% { --angle: 0.25turn }
  100% { --angle: 0.75turn }
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0turn;
  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #eee;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #1e90ff;
}

/* termino de css para header y comienzo de card */

main {
  flex: 1;
}


/* footer */
footer a {
  color: #1e90ff;
  text-decoration: none;
  margin: 0 0.3rem;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  background-color: #222;
  color: #eee;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  margin-top: 3rem;
  border-top: 1px solid #444;
}

